<h1>Properties from the component</h1>

<div class="simple">Simple String Property: <i>{{ simpleStringProperty }}</i></div>
<div class="simple">Async Simple String Property: <i>{{ asyncSimpleStringProperty }}</i></div>
<div class="simple">JSON value (json pipe): <i>{{ objectValue | json }}</i></div>
<div class="simple">Date (date pipe): <i>{{ date | date:'short' }}</i></div>
<div class="simple">Service value from getter: <i>{{ serviceValue }}</i></div>

<div class="array">
  <span>Array of strings:</span>
  <i *ngFor="let item of arrayOfString; let i = index">{{ item }} ({{ i }})</i>
  <span *ngIf="!arrayOfString.length">Empty array ¯\_(ツ)_/¯</span>
</div>

<div class="color">
  <div [ngStyle]="{ 'background-color': colors.color1 }"></div>
  <div [ngStyle]="{ 'background-color': colors.color2 }"></div>
  <div [ngStyle]="{ 'background-color': colors.color3 }"></div>
</div>

<div class="mouseEvents">
  <!-- JS Events should be assigned [ ONLY! ] like that: (eventName)="classMethodName" -->
  <!-- Event name should be without "on" prefix: click, change, mousedown, etc -->
  <!-- $event gives MouseEvent object to the handler -->
  <!-- You can set as many params as you want to: methodName(param1, param2, $event) -->
  <button
    (mousedown)="mouseDownHandler($event)"
    (mouseup)="mouseUpHandler($event)"
  >Click It!</button>

  <!-- Property "textContent" will be changed when user holds mouse button -->
  <div
    [class.active]="mouseHoldState"
    [class.inactive]="!mouseHoldState"
    [textContent]="(mouseHoldState ? 'A' : 'Ina') + 'ctive'"
  ></div>
</div>
